@font-face {
  font-family: 'cyere-bold';
  src: url('/src/assets/fonts/cyere_bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'cyere-semibold';
  src: url('/src/assets/fonts/cyere_semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'cyere-regular';
  src: url('/src/assets/fonts/cyere_regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'cyere-italic';
  src: url('/src/assets/fonts/cyere_italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}
.boxshadow{
  box-shadow: #0003 0 4px 6px -1px, #0000001f 0 2px 4px -1px;
}
.topheaderbg{
  background-image: url("/src/assets/header-bg.png");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  min-height:320px;
  margin-bottom: 55px;
}
.no-padding{
	padding: 0 0 !important
}
body{
	font-family: 'cyere-semibold';
	font-size: .875rem;
}
.topbarbg{
	background-color:#1a2c38;
}
.sidebarbgtopbar{
	background-color:#0f212e;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
            0 4px 6px -2px rgba(0, 0, 0, 0.1);
}
.sidebarbg{
	background-color:#0f212e;
}
.sidebarmenubg{
	background-color:#1a2c38;
	margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 5px;
}
.linemargin{
	margin-left: 15px;
    margin-right: 15px;
}
.footerbg{
	background-color:#071d2a;
}
.makeitcenter{
	text-align:center;
}
.mainpadding{
	padding-bottom: 55px !important;
}
.mybold{
	font-family: 'cyere-bold';
}
.cimgmain{
	--degrees: 0deg;
    --percentage: 30%;
	--border-color: #017aff;
	--spacing-0-5: calc(.25rem*.5);
    background: linear-gradient(var(--degrees), transparent var(--percentage), var(--border-color) 100%);
    padding: var(--spacing-0-5);
    transition: .3s ease;
    transition-property: transform, translate, scale, rotate;
	margin-top: 0;
}
.cimgmain2{
	--degrees: 0deg;
    --percentage: 30%;
	--border-color: #00CA51;
	--spacing-0-5: calc(.25rem*.5);
    background: linear-gradient(var(--degrees), transparent var(--percentage), var(--border-color) 100%);
    padding: var(--spacing-0-5);
    transition: .3s ease;
    transition-property: transform, translate, scale, rotate;
	margin-top: 0;
}
.dicemarker{
	margin-left: -26px;
    margin-top: -12px;
}
.dicemarkerpadding{
	margin-top:55px;
}
.customround{
	border-radius:25px;
}
.cyere-num {
  font-family: 'cyere-semibold', ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", "Courier New", monospace;
  font-variant-numeric: tabular-nums; /* ohrani enako širino številk, če font podpira */
}